ENTORNO=
NOMBRE_SERVICIO=
DATABASE_URL=

# Deben coincidir EXACTO con los del Gateway
JWT_SECRET=
JWT_ALGORITMO=
GATEWAY_SHARED_SECRET=

LOG_LEVEL=

# Dirección interna de servicio-empresas-vacantes (para saber qué anuncios/empresas puede ver cada usuario).
URL_SERVICIO_EMPRESAS_VACANTES=
