ENTORNO=desarrollo
NOMBRE_SERVICIO=servicio-procesos-seleccion
DATABASE_URL=postgresql+asyncpg://procesos_user:procesos_pass@postgres:5432/procesos_seleccion_db

# Deben coincidir EXACTO con los del Gateway
JWT_SECRET=60177a904e69f1f94878f1098489e3f9dc6f97611c438a09a22364d6cd497fd5
JWT_ALGORITMO=HS256
GATEWAY_SHARED_SECRET=5bd03c8756827b04ec44ac18a6f372c51eb26e42fc2d7a521aec8927e71d23e0

LOG_LEVEL=INFO

# Dirección interna de servicio-empresas-vacantes (para saber qué anuncios/empresas puede ver cada usuario).
URL_SERVICIO_EMPRESAS_VACANTES=http://servicio-empresas-vacantes:8002
