ENTORNO=desarrollo
DATABASE_URL=postgresql+asyncpg://gateway_user:gateway_pass@postgres:5432/usuario_db

JWT_SECRET=60177a904e69f1f94878f1098489e3f9dc6f97611c438a09a22364d6cd497fd5
JWT_ALGORITMO=HS256
JWT_MINUTOS_EXPIRACION=60

# Debe coincidir EXACTO con GATEWAY_SHARED_SECRET de servicio-postulantes
GATEWAY_SHARED_SECRET=5bd03c8756827b04ec44ac18a6f372c51eb26e42fc2d7a521aec8927e71d23e0

URL_SERVICIO_POSTULANTES=http://servicio-postulantes:8001
URL_SERVICIO_EMPRESAS_VACANTES=http://servicio-empresas-vacantes:8002
URL_SERVICIO_PROCESOS_SELECCION=http://servicio-procesos-seleccion:8003

# Orígenes permitidos: ERP (3000) y ANUNCIOS (3001)
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

LOG_LEVEL=INFO
